/* Barra de navegacion */

.navbar {
  padding: 2rem;
  background-color: #baf77c;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;  
}

/* Estilos generales */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Rubik Dirt', cursive;
}

.seccion-oscura {
  color: black;
  background-color:#ffffd9;
}

.seccion-clara {
  color: black;
  background-color: #61d4b0;
 
}

.seccion-titulo {
  font-size: 2rem;
  padding: 1px 0;
  font-family: 'Rubik Dirt', cursive;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.2rem;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/* Seccion Hero */

.hero {
  background-color:#f5e1e2;
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

.hero-imagen-desarrollador {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: #615151;
}

/* Primera Parte */

.primeraparte {
  height: 500px;
  padding: 10px;
}

.primeraparte .contenedor {
  max-width: 600px;
  text-align: center;
}


.productos-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}


/* Productos */

.productos-recientes {
  padding: 40px;
}

.productos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.productos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.producto {
  position: relative;
}



.producto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}


/* Carrusel */

.carrusel {
  padding: 40px 40px 80px 40px;
}



/* Pie de pagina (footer) */

footer {
  min-height: 200px;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.derechos-de-autor {
  font-size: 15px;
  color: #ffffd9;
  padding: 20px;
}
